# PlatformIO
**/.pio/
**/.vscode/
**/libdeps/
**/firmware.elf
**/firmware.bin
**/firmware.hex

# KiCad
*.bak
*.tmp
*.bck
*.kicad_prl
fp-info-cache
*.dcm
*.net
*.xml
*.pdf
*-backups/

# 3D
*.f3d
*.bak

# OS
.DS_Store
Thumbs.db
